@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #090707;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: var(--primary-bg-color);
  overflow: hidden;
}
